DEVILUDO_RELEASE_VERSION=v1.0.0
DEVILUDO_RELEASE_BASE_URL=https://github.com/OWNER/DeviLudo/releases/download
DEVILUDO_COSIGN_IDENTITY_REGEXP=^https://github.com/OWNER/DeviLudo/.github/workflows/release.yml@
DEVILUDO_COSIGN_ISSUER=https://token.actions.githubusercontent.com
DEVILUDO_RELEASE_AUTH_HEADER_FILE=/etc/deviludo/input/github-release.header
DEVILUDO_CORE_URL=https://core.internal.example:8443
DEVILUDO_SSH_ALLOWED_CIDRS=10.0.9.0/24
DEVILUDO_ENROLLMENT_TOKEN_FILE=/etc/deviludo/input/enrollment.token
DEVILUDO_E2E_CORE_CA_FILE=/etc/deviludo/input/core-ca.crt
DEVILUDO_GOLDEN_VM_FILE=/var/lib/deviludo-images/linux-golden.qcow2
DEVILUDO_GUEST_SSH_KEY_FILE=/etc/deviludo/input/guest_ed25519
DEVILUDO_GUEST_KNOWN_HOSTS_FILE=/etc/deviludo/input/guest_known_hosts
