DEVILUDO_RELEASE_VERSION=v1.0.0
DEVILUDO_RELEASE_BASE_URL=https://github.com/OWNER/DeviLudo/releases/download
DEVILUDO_COSIGN_IDENTITY_REGEXP=^https://github.com/OWNER/DeviLudo/.github/workflows/release.yml@
DEVILUDO_COSIGN_ISSUER=https://token.actions.githubusercontent.com
DEVILUDO_RELEASE_AUTH_HEADER_FILE=/etc/deviludo/input/github-release.header
DEVILUDO_GHCR_USERNAME=OWNER
DEVILUDO_GHCR_TOKEN_FILE=/etc/deviludo/input/ghcr.token
DEVILUDO_CORE_URL=https://core.internal.example:8443
DEVILUDO_WEB_CORE_TOKEN_FILE=/etc/deviludo/input/web-core.token
DEVILUDO_WEB_BIND_ADDRESS=10.0.0.10
DEVILUDO_WEB_ALLOWED_CIDRS=10.0.2.0/24
DEVILUDO_SSH_ALLOWED_CIDRS=10.0.9.0/24
DEVILUDO_DOCKER_CE_VERSION=REPLACE_WITH_DOCKER_CE_APT_VERSION
DEVILUDO_CONTAINERD_VERSION=REPLACE_WITH_CONTAINERD_APT_VERSION
DEVILUDO_BUILDX_VERSION=REPLACE_WITH_BUILDX_APT_VERSION
DEVILUDO_COMPOSE_VERSION=REPLACE_WITH_COMPOSE_APT_VERSION
