DEVILUDO_RELEASE_VERSION=v1.0.0
DEVILUDO_RELEASE_BASE_URL=https://github.com/OWNER/DeviLudo/releases/download
DEVILUDO_COSIGN_IDENTITY_REGEXP=^https://github.com/OWNER/DeviLudo/.github/workflows/release.yml@
DEVILUDO_COSIGN_ISSUER=https://token.actions.githubusercontent.com
DEVILUDO_RELEASE_AUTH_HEADER_FILE="/Library/Application Support/DeviludoInput/github-release.header"
DEVILUDO_CORE_URL=https://core.internal.example:8443
DEVILUDO_E2E_SIGNING_BROKER_URL=https://signing.internal.example
DEVILUDO_ENROLLMENT_TOKEN_FILE="/Library/Application Support/DeviludoInput/enrollment.token"
DEVILUDO_E2E_CORE_CA_FILE="/Library/Application Support/DeviludoInput/core-ca.crt"
DEVILUDO_GOLDEN_VM_FILE="/Library/Application Support/DeviludoImages/macos-golden.tvm"
DEVILUDO_GOLDEN_VM_NAME=deviludo-macos-golden
DEVILUDO_GUEST_SSH_KEY_FILE="/Library/Application Support/DeviludoInput/guest_ed25519"
DEVILUDO_GUEST_KNOWN_HOSTS_FILE="/Library/Application Support/DeviludoInput/guest_known_hosts"
